body {
}
.main {
	background-color: white;
	max-width: 700px;
	min-height: 650px;
}
.logo {
    display: block;
    max-width: 700px;
    margin-left: 30px;
    background-color: white;
}
.stripe {
	z-index = -1;
}

.title {
    font-family: "Times New Roman", Times, serif;
    margin-left: 40px;
	font-size: 25px;
}
.dateTimeRead {
	margin-right: 100px;
	float: right;
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
	max-width: 325px
	min-width: 325px;
	list-style-type: none;
}
.availableTime, {
	padding: 25px;
	max-width: 100px;
}
.availableTime:hover {
	border-radius: 25px;
	border-color: yellow;
	border-width: thin;
	box-shadow: 2px 2px 2px black;
	max-width: 100px;
}
.availableTime.selected {
	border-radius: 25px;
	border-width: thin;
	border-color: black;
	box-shadow: 1px 1px 1px darkblue;
	background-color: teal;
	max-width: 100px;
}
.timeDisplay {
	border-color: black;
	border-radius: 25px;
	line-height: 300%

}
.interface {
	margin-left: 40px;
	max-width: 162px;
	padding: 2px;
}
 .dataDisplay {

 }
label.inputDescription {
	display: block;
	padding-bottom: 25px;
}
caption {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	border: 1px solid #ccc;
	background-color: #00ff00;
}
table.calendarTable {
    border: 1px solid #ccc;
}

.header {
    background-color: #fafafa;
    padding: 5px 10px;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid black;
  border-width: thin;
  text-align: center;
}
th {
  background: #00ff00;
  border-color: white;
}
td:hover {
	border-color: yellow
	border-width: thin;
	box-shadow: 1px 1px 1px darkgreen;
}
td.selected {
	border-width: thin;
	border-color: black;
	box-shadow: 1px 1px 1px darkblue;
	background-color: teal;
}
td.pastDate {
	font-style: italic;
	font-weight: 100;
	font-size: 10px;
}
td.noDate {
	background-color: lightgrey;
}
body {
  padding: 2rem;
}
.capbox {
	margin-left: 40px;
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;.instruction{
	font-family: Georgia;
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
}
.timeHead {
  display: inline-block;
  height: 38px;
  padding: 10px, 30px;
  color: #555;
  font-family: "Times New Roman", Times, Serif;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
 }
.addspace {
	margin-top: 4px;
}
.main {
	background-color: white;
	max-width: 700px;
	min-height: 650px;
}
.logo {
    display: block;
    max-width: 700px;
    margin-left: 30px;
    background-color: white;
}
.stripe {
	z-index = -1;
}

.title {
    font-family: Garamond, Baskerville, "Baskerville Old Face";
    margin-left: 40px;
	font-size: 25px;
}
.dateTimeRead {
	margin-right: 145px;
	float: right;
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
	max-width: 325px
	min-width: 325px;
	list-style-type: none;
	border-radius: 25px;
  border-width: thin;
  border-color: black;
}
.availableTime, {
	padding: 25px;
	max-width: 100px;
}
.availableTime:hover {
	border-radius: 25px;
	border-color: yellow;
	border-width: thin;
	box-shadow: 2px 2px 2px black;
	max-width: 100px;
}
.availableTime.selected {
	border-radius: 25px;
	border-width: thin;
	border-color: black;
	box-shadow: 1px 1px 1px darkblue;
	background-color: teal;
	max-width: 100px;
}
.timeDisplay {
	border-color: black;
	border-radius: 25px;
	line-height: 300%

}
.interface {
	margin-left: 40px;
	max-width: 162px;
	padding: 2px;
}
 .dataDisplay {

 }
label.inputDescription {
	display: block;
	padding-bottom: 25px;
}
caption {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	border: 1px solid #ccc;
	background-color: #00ff00;
}
table.calendarTable {
    border: 1px solid #ccc;
}

.header {
    background-color: #fafafa;
    padding: 5px 10px;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid black;
  border-width: thin;
  text-align: center;
}
th {
  background: #00ff00;
  border-color: white;
}
td:hover {
	border-color: yellow
	border-width: thin;
	box-shadow: 1px 1px 1px darkgreen;
}
td.selected {
	border-width: thin;
	border-color: black;
	box-shadow: 1px 1px 1px darkblue;
	background-color: teal;
}
td.pastDate {
	font-style: italic;
	font-weight: 100;
	font-size: 10px;
}
td.noDate {
	background-color: lightgrey;
}
body {
  padding: 2rem;
}
.capbox {
	margin-left: 40px;
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;
	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  height: 38px;
  padding: 10px, 30px;
  color: #555;
  font-family: "Times New Roman", Times, Serif;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 28px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  font-family: Garamond, Baskerville, "Baskerville Old Face";
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 600; }





	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }



   


